<header class="header">
    <div class="header-container">
        <span class="logo">Meliora</span>

        <div class="container-btn">
            <a href="#menu" class="menu-btn menu-open">
                <img src="../assets/media/menu-bars.svg" alt="menu bars svg">
            </a>
            <a href="#" class="menu-btn menu-close none">
                <img src="../assets/media/menu-close.svg" alt="menu close svg">
            </a>
        </div>

        <nav class="menu" id="menu">
            <a href="../">Inicio</a>
            <a href="../tareas">Tareas</a>
            <a href="#contactame">Contactame</a>
            <a href="#more">More</a>
            <a href="#aspecto">Aspecto</a>
        </nav>
        <!-- <i class="fa-solid fa-sun"></i> -->
        <!-- <i class="fa-solid fa-moon none"></i> -->
    </div>
</header>
