/* ******************** Fonts ******************** *//*{{{*/
@font-face {
    font-family: Sfttr;
    src: url("../../assets/typografy/SetFireToTheRain.ttf");
    font-display: swap;
}

@font-face {
    font-family: Mononoki;
    src: url("../../assets/typografy/mononoki-Regular\ Nerd\ Font\ Complete\ Mono.ttf"),
        url("../../assets/typografy/mononoki-Regular\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible.ttf");
    font-display: swap;
}

@font-face {
    font-family: Luna;
    src: url("../../assets/typografy/Luna.ttf");
    font-display: swap;
}/*}}}*/

/* ******************** Fluid Design ******************** */

/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.7rem, calc(0.75rem + -0.05vw), 0.74rem);
  --step--1: clamp(0.90rem, calc(0.87rem + 0.07vw), 0.89rem);
  --step-0: clamp(1.10rem, calc(1.5rem + 0.25vw), 1.30rem);
  --step-1: clamp(1.28rem, calc(1.17rem + 0.53vw), 1.67rem);
  --step-2: clamp(1.53rem, calc(1.34rem + 0.94vw), 2.22rem);
  --step-3: clamp(1.84rem, calc(1.53rem + 1.52vw), 2.96rem);
  --step-4: clamp(2.2rem, calc(1.73rem + 2.36vw), 3.95rem);
  --step-5: clamp(2.64rem, calc(1.93rem + 3.55vw), 5.26rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,17,1.2,1500,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.08vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.55rem + 0.08vw), 0.63rem);
  --space-xs: clamp(0.81rem, calc(0.78rem + 0.17vw), 0.94rem);
  --space-s: clamp(1.06rem, calc(1.01rem + 0.25vw), 1.25rem);
  --space-m: clamp(1.63rem, calc(1.56rem + 0.34vw), 1.88rem);
  --space-l: clamp(2.13rem, calc(2.02rem + 0.51vw), 2.5rem);
  --space-xl: clamp(3.19rem, calc(3.03rem + 0.76vw), 3.75rem);
  --space-2xl: clamp(4.25rem, calc(4.05rem + 1.02vw), 5rem);
  --space-3xl: clamp(6.38rem, calc(6.07rem + 1.53vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.15rem + 0.51vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.46rem + 0.51vw), 0.94rem);
  --space-xs-s: clamp(0.81rem, calc(0.69rem + 0.59vw), 1.25rem);
  --space-s-m: clamp(1.06rem, calc(0.84rem + 1.1vw), 1.88rem);
  --space-m-l: clamp(1.63rem, calc(1.39rem + 1.19vw), 2.5rem);
  --space-l-xl: clamp(2.13rem, calc(1.68rem + 2.2vw), 3.75rem);
  --space-xl-2xl: clamp(3.19rem, calc(2.7rem + 2.46vw), 5rem);
  --space-2xl-3xl: clamp(4.25rem, calc(3.37rem + 4.41vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.06rem, calc(0.67rem + 1.95vw), 2.5rem);
}

/* ******************** Custom Properties ******************** */
:root {
    --font-code: Mononoki, monospace;
    --font-text: Roboto Mono, monospace;
    --font-title: Roboto Mono, monospace;
    --bg-color: #fffff;
    --text-color: #000;

    /* main colors */
    --primary-color-1: #000000;
    --primary-color-2: #474747;
    --primary-color-3: #bae67e;

    /* neutral colors */
    --dark-grey: #777777;
    --grey: #dfdfdf;
    --light-grey: #f4f4f4;
    --white: #ffffff;

    --container-sm: 768px;
    --container-md: 992px;
    --container-lg: 1400px;
}

/* ******************** User Prefers ******************** */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

/* ******************** Reset CSS ******************** */
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-text);
  font-size: var(--step-0);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  /* color: var(--link-color); */
  transition: all 0.3s ease-out;
}

/* a:hover { */
/*   color: var(--secondary-color); */
/* } */

b,
strong,
th {
  font-family: var(--font-text);
}

blockquote {
  padding: 0.5rem 1.5rem;
  /* border-left: medium solid var(--primary-color); */
  opacity: 0.75;
}

ul,
li {
    font-size: var(--step--1);
    color: var(--primary-color-2);
}

blockquote p,
figure {
  margin: 0;
}

code,
pre {
  font-family: var(--font-code);
  font-size: var(--space-xs);
  border-radius: .5rem;
}

/* em, */
/* i { */
/*   font-style: italic; */
/* } */

img {
  max-width: 100%;
  height: auto;
  border-radius: .44rem
}

/* https://codepen.io/TechnoBishop/pen/LEVPJw */
iframe,
video {
  width: 100%;
  height: calc((100vw - 4rem) * (9 / 16));
  max-height: calc(800px * 9 / 16);
  aspect-ratio: 16 / 9;
}

@media screen and (min-width: 48em) {
  [id] {
    scroll-margin-top: 4rem;
  }
}

/* ******************** Headings ******************** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 400;
  margin: 0.5em 0;
}

.step-5 {
  font-size: var(--step-5);
}

.step-4 {
  font-size: var(--step-4);
}

h1 {
    font-size: var(--step-1);
}

h2 {
    font-size: var(--step-0);
}

.step-3 {
  font-size: var(--step-3);
}

h3,
.step-2 {
  font-size: var(--step-2);
}

h4,
.step-1 {
  font-size: var(--step-1);
}

.step-0 {
  font-size: var(--step-0);
}

h5,
.step--1 {
  font-size: var(--step--1);
}

h6,
.step--2 {
  font-size: var(--step--2);
}

.job {
    width: var(--container-md);
    max-width: 95%;
    padding-right: var(--step-1);
    padding-left: var(--step-1);
    margin-left: auto;
    margin-right: auto;
}

.job p {
    font-size: var(--step--1);
    color: var(--primary-color-2);
    text-align: justify;
}

.job em {
    font-size: var(--step--2);
    color: var(--dark-grey);
    font-style: normal;
}

.job h2 {
    font-size: var(--step-0);
    color: var(--primary-color-2);
}

.job h1 {
    font-family: var(--font-title);
    color: var(--primary-color-2);
    font-size: var(--step-1);
}

.job .job-content {
    margin-top: var(--step-3);
}

.section {
    padding-top: var(--step--1);
}

main {
    width: var(--container-md);
    max-width: 95%;
    padding-right: var(--step-1);
    padding-left: var(--step-1);
    margin-left: auto;
    margin-right: auto;
}

/* main .category ul { */
/*     list-style: none; */
/*     color: var(--dark-grey); */
/*     font-size: var(--step--1); */
/*     display: flex; */
/*     padding: 0; */
/*     justify-content: space-between; */
/* } */
/**/
/* main .category ul li { */
/*     cursor: pointer; */
/*     position: relative; */
/* } */
/**/
/* main .category ul li::after { */
/*     content: ""; */
/*     width: 0; */
/*     height: 2px; */
/*     background-color: var(--dark-grey); */
/*     position: absolute; */
/*     bottom: -20%; */
/*     right: 50%; */
/*     transition: height, background-color, bottom, right .5s; */
/*     will-change: width; */
/* } */
/**/
/* main .category ul li:hover::after, */
/* main .category ul li:active::after { */
/*     width: 100%; */
/*     right: 0; */
/* } */

.footer {
    background-color: #f4f4f4;
    padding: var(--space-m-l);
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer small {
    font-size: var(--step--2);
    color: var(--primary-color-2);
    text-align: center;
}

.lista-tareas a {
    text-decoration: none;
}

.lista-tareas .tarea {
    margin: var(--space-xl) 0;
}

.lista-tareas .tarea em {
    font-size: var(--step--2);
    color: var(--dark-grey);
    font-style: normal;
}

.lista-tareas .tarea h2 {
    font-size: var(--step-0);
    color: var(--primary-color-2);
    max-width: 90%;
}


/* ******************** Components ******************** */

/* ********** Menu ********** */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: var(--step--1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    opacity: 0;
    pointer-events: none;
    overflow-y: hidden;
}

.menu a {
    text-decoration: none;
    color: var(--dark-grey);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a:hover {
    color: var(--primary-color-2)
}

.logo {
    font-size: var(--step-1);
    color: var(--primary-color-2)
}

.container-btn {
    width: var(--step-1);
    height: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 999;
}

.menu-btn {
    color: var(--primary-color-1);
    width: 100%;
}

.menu#menu:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 1024px) {

    .container-btn {
        display: none;
    }

    .menu {
        opacity: 1;
        pointer-events: auto;
        position: static;
        width: auto;
        flex-direction: row;
        height: auto;
    }

    .menu a {
        margin: 0 var(--step-2);
    }
}

/* ******************** Utilities ******************** */

.none {
    display: none;
}

/* ******************** Site styles ******************** */

.header {
    width: 100%;
    background-color: var(--white);
    padding: var(--space-s);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1024px) {

    header {
        padding-right: var(--step-1);
        padding-left: var(--step-1);
        margin-right: auto;
        margin-left: auto;
        width: var(--container-lg);
        max-width: 80%;
    }
}
